.qrcode_main {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-between;
	align-items: center;
	padding: 15px 30px;
	background: var(--Ga0);
}

.bili_logo {
	width: 90px;
}

.qrcode_main p {
	margin: 15px 0 0;
	color: var(--Ga6);
	font-weight: bold;
}

.qrcode {
	padding: 10px;
	border-radius: 10px;
	border: 1px solid var(--Ga3);
	background-color: var(--Wh0);
}

/*---------- video_qrcode css ------------*/
.right {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.qrcode-right-text {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	margin-right: 10px;
}

.qrcode-right-text span {
	color: var(--Ga7);
}